.carousel {
    height: 65vh;
}

.carousel-item {
    display: flex;
    align-items: flex-start;
}

.carousel-item .carousel-image {
    flex: 1;
    margin-right: 20px; /* Добавлен отступ справа для изображения */
}

.carousel-item .carousel-image img {
    display: flex;
    object-fit: contain;
    margin: 0 auto; /* Отцентрирование изображения по горизонтали */
    border-radius: 25px;
}

.carousel-item .carousel-content {
    flex: 2; /* Изменен flex-параметр для текстового контента */
    background-color: #141414;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
}

@media (max-width: 767px) {
    .carousel {
        height: 100vh;
    }
    .carousel-item {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item .carousel-image {
        margin-bottom: 10px;
        margin-right: 0; /* Удален отступ справа для изображения на узких экранах */
    }

    .carousel-item .carousel-image img {
        max-width: 100%; /* Ограничение ширины изображения до 100% объекта карусели на узких экранах */
        max-height: 40%; /* Ограничение высоты изображения до 50% высоты объекта карусели на узких экранах */
        margin: 0 auto; /* Отцентрирование изображения по горизонтали */
    }

    .carousel-item .carousel-content {
        flex: 1; /* Изменен flex-параметр для текстового контента на узких экранах */
    }
}