.highlights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight {
    /* Удалите flex: 0 0 auto; */
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #141414;
    border-radius: 25px;
    position: relative;
    width: 45%; /* Добавьте max-width: 100%; */
}


.highlight-content-h {
    margin: 15px;
}

.highlight-title {
    font-family: 'GothamPro-Medium', sans-serif;
    color: #6ed2ff;
}

.highlight-description {
    padding-bottom: 10px;
    line-height: 1.5;
}

.highlight-link {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.highlight-link:hover {
    background-color: #222;
}

@media (max-width: 480px) {
    .highlight {
        width: 100%;
        margin-right: 0;
    }
}