@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro-Black.eot?') format('eot'),
  url('../fonts/GothamPro-Black.otf') format('opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.eot?') format('eot'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype');
}

/* Скрытие стандартного скролл-бара */
body::-webkit-scrollbar {
  width: 12px; /* Ширина скролл-бара */
}

/* Стилизация скролл-бара */
body::-webkit-scrollbar-track {
  background-color: #1E1E1E; /* Цвет трека */
}

body::-webkit-scrollbar-thumb {
  background-color: #636583; /* Цвет ползунка */
  border-radius: 6px; /* Радиус закругления ползунка */
}

/* Изменение внешнего вида при наведении на ползунок */
body::-webkit-scrollbar-thumb:hover {
  background-color: #d08927; /* Цвет ползунка при наведении */
}

/* Стилизация скролл-бара в горизонтальном режиме */
body::-webkit-scrollbar-horizontal {
  height: 12px; /* Высота скролл-бара в горизонтальном режиме */
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: #636583; /* Цвет ползунка в горизонтальном режиме */
}

/* Стилизация скролл-бара в вертикальном режиме */
body::-webkit-scrollbar-vertical {
  width: 12px; /* Ширина скролл-бара в вертикальном режиме */
}

body::-webkit-scrollbar-thumb:vertical {
  background-color: #636583; /* Цвет ползунка в вертикальном режиме */
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'GothamPro-Light', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'GothamPro-Black', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'GothamPro-Black', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'GothamPro-Black', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 20px;
}

.content {
  margin-top: 20px;
}

.section-title {
  color: #007ACD;
}

.section-text {
  line-height: 1.5;
}

.app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.logo img {
  width: 215px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin: 10px;
  max-width: 250px;
  min-width: 200px;
  display: flex;
  align-items: center;
}

.menu-item:last-child a{
  font-size: 20px;
  font-weight: bold;
  color: #007ACD;
}

.menu-item:last-child:hover a{
  font-weight: bold;
  color: #007ACD;
  font-size: 22px;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item:hover a {
  color: #007ACD;
}

.menu-item.active a {
  color: #007ACD;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1050px) {
  .desktop-menu {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
}

@media (min-width: 1051px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}

.mobile-menu .menu {
  flex-direction: column;
  align-items: center;
}

.mobile-menu .menu-item {
  margin: 10px;
}

footer {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #fff;
  max-width: 1400px;
}

.contact-block {
  display: flex;
  flex-wrap: wrap;
}

.text-block {
  width: 100%;
  max-width: 500px;
}

.map-block {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1050px) {
  .contact-block {
    flex-wrap: nowrap;
  }

  .text-block {
    order: 1;
    margin-right: 20px;
  }

  .map-block {
    order: 2;
    width: auto;
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
