.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    position: relative;
    overflow: hidden; /* Add overflow property to prevent image overflow */
}

.background-image::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background-image: inherit;
    background-position: center; /* Set background position to center */
    background-repeat: no-repeat; /* Remove background repeat */
    background-size: cover; /* Scale and transform the image to cover the container */
    filter: blur(3px) opacity(0.7);
    -webkit-filter: blur(3px) opacity(0.7);
}

.content {
    z-index: 1;
    min-height: 78vh;
}

.centered-text {
    font-family: 'GothamPro-Black', sans-serif;
    color: #fff;
    /*text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; !* Настройка обводки *!*/
}

/* Медиа-запросы для узких экранов */
@media (max-width: 767px) {
    .centered-text h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 200%;
        margin-bottom: 1rem;
    }
}

/* Медиа-запросы для широких экранов (минимальная ширина 768px) */
@media (min-width: 768px) {
    .centered-text h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 500%;
        margin-bottom: 1rem;
    }
}