.background-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    position: relative;
    overflow: hidden; /* Add overflow property to prevent image overflow */
}

.background-image::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background-image: inherit;
    background-position: center; /* Set background position to center */
    background-repeat: no-repeat; /* Remove background repeat */
    background-size: cover; /* Scale and transform the image to cover the container */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    z-index: 1;
}

.content {
    z-index: 1;
    min-height: 78vh;
}

.centered-text {
    font-family: 'GothamPro-Black', sans-serif;
    color: #fff;
    /*text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; !* Настройка обводки *!*/
}

/* Медиа-запросы для узких экранов */
@media (max-width: 767px) {
    .centered-text h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 200%;
        margin-bottom: 1rem;
    }
}

/* Медиа-запросы для широких экранов (минимальная ширина 768px) */
@media (min-width: 768px) {
    .centered-text h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 500%;
        margin-bottom: 1rem;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    z-index: 2;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-family: 'GothamPro-Bold', sans-serif;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media queries for narrow screens */
@media (max-width: 767px) {
    .centered-text h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 200%;
        margin-bottom: 1rem;
    }
    .button {
        font-size: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 1rem;
    }

    .button-container {
        margin-top: 3rem;
        flex-direction: column;
    }
}

/* Media queries for wide screens (minimum width 768px) */
@media (min-width: 768px) {
    .centered-text h1 {
        font-size: 500%;
        margin: 2rem 10px 1rem;
    }

    .button {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 150%;
        margin-bottom: 1rem;
    }

    .button-container {
        flex-direction: row;
    }
}