.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Минимальная высота контейнера */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(3px);*/
    /*opacity: 0.7;*/
}

.centered-text {
    font-family: 'GothamPro-Black', sans-serif;
    color: #fff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Настройка обводки */
}

/* Медиа-запросы для узких экранов */
@media (max-width: 767px) {
    .centered-text h1 {
        font-size: 200%;
        margin-bottom: 1rem;
    }
}

/* Медиа-запросы для широких экранов (минимальная ширина 768px) */
@media (min-width: 768px) {
    .centered-text h1 {
        font-family: 'GothamPro-Black', sans-serif;
        font-size: 500%;
        margin-bottom: 1rem;
    }
}